<!DOCTYPE Hhtml>
<html data-theme="light" data-layout-mode="detached">
    <head>
        <meta charset="UTF-8" />
        <meta name='viewport' content="width=device-width, initial-scale=1" />
        <title>Dunne Web</title>
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        {% comment %} <script src="{% static "js/hyper-config.js" %}"></script> {% endcomment %}

        <!-- CSS only -->
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static "assets/images/favicon.ico" %}">

        <!-- Theme Config Js -->
        <script src="{% static "assets/js/hyper-config.js" %}"></script>

        <!-- Icons css -->
        <link href="{% static "assets/css/icons.min.css" %}" rel="stylesheet" type="text/css" />

        <!-- App css -->
        <link href="{% static "assets/css/app-modern.min.css" %}" rel="stylesheet" type="text/css" id="app-style" />
    </head>
    <body class="show">
        <div class="wrapper">
            <div id="main">
                <div id="app"></div>
                <div id="portal"></div>
            </div>
        </div>

        <!-- Vendor js -->
        <script src="{% static "assets/js/vendor.min.js" %}"></script>

        <!-- App js -->
        <script src="{% static "assets/js/app.min.js" %}"></script>
        
        <script src="{% static "frontend/main.js" %}"></script>
    </body>
</html>