<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name='viewport' content="width=device-width, initial-scale=1" />
        <meta name='description' content="Omni Trackers helps you find and collect comic book omnibuses — browse and filter by character and publisher, follow reading orders, and track your collection." />
        <title>Omni Trackers</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static "assets/images/favicon.ico" %}">
    </head>
    <body>
        <div id="app"></div>
        <div id="portal"></div>
        <script src="{% static "frontend/main.js" %}"></script>
    </body>
</html>