body {
    margin: 0;
}

#header-banner {
    width: 100vw;
    height: 15vh;
    max-height: 120px;
    z-index: 200;
    position: fixed;
    background: #000000ab;
}

.top-image-container {
    width: 100vw;
    height: 50vh;
    background: #70ad72;
    position: fixed;
    top: 0px;
    left: 0px;
}

.top-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    bottom: 50vh;
    position: fixed;
    transform: scaleX(-1);
}

.main-content-container {
    width: 100vw;
    min-height: 800px;
    position: absolute;
    top: 50vh;
    z-index: 100;
    background: #76b0d2;
    filter: drop-shadow(0mm -3mm 8mm black);
}

.main-content-container .content-block  {
    width: 100%;
    height: 70vh;
}

.main-content-container .internal-block  {
    width: calc(40% - 30px);
    height: 70vh;
    background: white;
    position: absolute;
    margin-top: -100px;
    padding: 30px;
    text-align: center;
}

.main-content-container .internal-block.block-float-right  {
    right: 5%;
}

.main-content-container .internal-block.block-float-left  {
    left: 5%;
}

.main-content-container .internal-block h3 {
    font-size: xx-large;
}