{% block content %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/mainsite.css'%}">
    </head>
    <body>
        <div id="header-banner"></div>
        <div class="top-image-container">
            <img src="{% static 'img/anime-sunset.png' %}"/>
        </div>
        <div class="main-content-container">
            <div class="content-block">
                <div class="internal-block block-float-right"><h3>Fabiolaaaaaa Osorio!!!</h3></div>
            </div>
            <div class="content-block">
                <div class="internal-block block-float-left"></div>
            </div>
            <div class="content-block">
                <div class="internal-block block-float-right"></div>
            </div>
        </div>
    </body>
</html>

{% endblock %}